<h1 class="pl-5 pr-5 pt-5" mat-dialog-title>{{ title }}</h1>
<mat-dialog-content class="mat-typography flex justify-center items-center">
    <form [formGroup]="visibilityDialogFormGroup" class="bg-white shadow-md rounded pt-6 pb-8 mb-4">

        <div class="grid grid-cols-2 gap-x-3 px-4">
            <mat-form-field>
                <mat-label>Име на продавач</mat-label>
                <input matInput class="w-full" formControlName="sellerName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Телефонен номер</mat-label>
                <input matInput class="w-full" formControlName="phone">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Марка</mat-label>
                <mat-select class="w-full" (selectionChange)="onMakeSelectionChange($event)" formControlName="makeName">
                    <mat-option *ngFor="let make of makes" [value]="make.name">{{ make.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Модел</mat-label>
                <mat-select class="w-full" formControlName="modelName">
                    <mat-option *ngFor="let model of models" [value]="model.name">{{ model.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Вид гориво</mat-label>
                <mat-select class="w-full" formControlName="fuelTypeName">
                    <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType.name">{{
                        fuelType.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Цвят</mat-label>
                <input matInput class="w-full" formControlName="color">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Мощност(к.с.)</mat-label>
                <input matInput class="w-full" formControlName="power">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Година на производство</mat-label>
                <input matInput class="w-full" formControlName="yearOfManufacture">
            </mat-form-field>

            <mat-form-field class="col-span-2">
                <mat-label>Цена(лв.)</mat-label>
                <input matInput class="w-full" formControlName="price">
            </mat-form-field>

            <div class="px-5 text-[#9B9B9B] cursor-not-allowed">
                <label>Снимка</label>
                <img [src]="visibilityDialogFormGroup.get('imageUrl')?.value" alt="car" class="w-64 h-64">
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions *ngIf="action === 'edit'">
    <div class="flex justify-between w-full">
        <button
            class="text-sm text-center ml-4 px-4 py-2 m-2 rounded-full font-bold text-white border-2 border-[#E53E31] bg-[#E53E31]"
            (click)="onCancelClick()" mat-button mat-dialog-close> Отказ </button>
        <button
            class="text-sm text-center mr-4 px-4 py-2 m-2 rounded-full font-bold text-white border-2 border-[#007bff] bg-[#007bff]"
            (click)="updateRecord()" mat-button mat-dialog-close> Запази </button>
    </div>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="action === 'view'">
    <button
        class="text-sm text-center ml-4 px-4 py-2 m-2 rounded-full font-bold text-white border-2 border-[#E53E31] bg-[#E53E31]"
        (click)="onNoClick()" mat-button mat-dialog-close> Затвори </button>
</mat-dialog-actions>