<h1 class="pl-5 pr-5 pt-5" mat-dialog-title>Добавяне на обява</h1>
<div class="flex justify-center items-center">
  <form [formGroup]="formData" (ngSubmit)="submitForm()" class="bg-white shadow-md rounded px-5 pt-6 pb-8 mb-4">

    <div class="grid grid-cols-2 gap-2">
      <mat-form-field class="p-1">
        <mat-label>Име на продавач</mat-label>
        <input matInput type="text" formControlName="sellerName"
          class="text-sm rounded-lg h-10 block p-2.5 bg-[#B0B0B0] text-black-900">
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Телефонен номер</mat-label>
        <input matInput class="w-full" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Марка и модел</mat-label>
        <mat-select class="w-full" formControlName="makeId">
          <mat-option *ngFor="let make of makes" [value]="make.id">{{ make.name}} {{make.modelName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Вид гориво</mat-label>
        <mat-select class="w-full" formControlName="fuelTypeId">
          <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">{{ fuelType.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Мощност (к.с.)</mat-label>
        <input matInput class="w-full" formControlName="power">
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Цвят</mat-label>
        <input matInput class="w-full" formControlName="color">
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Година на производство</mat-label>
        <input matInput class="w-full" formControlName="yearOfManufacture">
      </mat-form-field>

      <mat-form-field class="p-1">
        <mat-label>Цена</mat-label>
        <input matInput class="w-full" formControlName="price">
      </mat-form-field>
    </div>
    <div class="flex justify-center items-center h-24">
      <button type="submit" [routerLink]="['/home']" mat-button
        class='m-5 px-4 py-2 text-sm rounded-full font-bold text-white bg-[#007bff] transition-all ease-in-out duration-300'>Добавяне
      </button>
      <button
        type="button"
        class='m-5 px-4 py-2 text-sm rounded-full font-bold text-white bg-[#007bff] transition-all ease-in-out duration-300'
        mat-button color="primary" (click)="openCloudinaryUploader()">Качи снимка
      </button>
    </div>
  </form>
</div>