<h1 class="pl-5 pr-5 pt-5" mat-dialog-title> Преглед на профил </h1>
<form [formGroup]="viewUserFormGroup" class="bg-white shadow-md rounded px-5 pt-6 pb-8 mb-4">
    <div class="grid grid-cols-2 gap-2">
        <mat-form-field class="p-1">
            <mat-label>Потребителско име</mat-label>
            <input matInput class="w-full" formControlName="username">
        </mat-form-field>

        <mat-form-field class="p-1">
            <mat-label>Имейл</mat-label>
            <input matInput class="w-full" formControlName="email">
        </mat-form-field>

        <mat-form-field class="p-1">
            <mat-label>Телефонен номер</mat-label>
            <input matInput class="w-full" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field class="p-1">
            <mat-label>Адрес</mat-label>
            <input matInput class="w-full" formControlName="location">
        </mat-form-field>

        <mat-form-field class="p-1">
            <mat-label>Роля</mat-label>
            <input matInput class="w-full" formControlName="role">
        </mat-form-field>
    </div>
</form>